@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;700&display=swap");
@font-face {
  font-family: "klee";
  src: url(/ukagaka/fonts/Klee/KleeOne-Regular.ttf);
}
@font-face {
  font-family: "klee-semibold";
  src: url(/ukagaka/fonts/Klee/KleeOne-SemiBold.ttf);
}
@font-face {
  font-family: "HackGen";
  src: url(/ukagaka/fonts/HackGen/HackGen-Regular.ttf);
}

:root {
  --color-darkblack: #10181a;
  --color-black: #30383a;
  --color-darkgray: #40484a;
  --colorbase-gray: 96, 104, 106;
  --color-gray: rgb(var(--colorbase-gray));
  --color-lightdarkgray: rgba(var(--colorbase-gray), 0.4);
  --color-lightgray: rgba(var(--colorbase-gray), 0.1);
  --color-white: #f8f8f8;
  --color-blue: #4566af;
  --color-red: #aa2323;
  --header-height: 10rem;
  --footer-height: 10vh;
  --heading-margin-base-top: 0.4rem;
  --heading-margin-base-left: 1rem;
  --heading-margin-base-right: 0rem;
  --heading-margin-base-bottom: 0.2rem;
  --min-lineheight: 24px;
  --size-adjust: 2px;

  --font-serif: "Noto Serif JP", "Lucida Grande", "Calibri", Helvetica, Arial;
  --font-sans: "Open Sans", "HackGen", "Lucida Grande", "Calibri", Helvetica,
    Arial;
  --font-tegaki: "klee", "Lucida Grande", "Calibri", Helvetica, Arial;
  --font-tegaki-semibold: "klee-semibold", "Lucida Grande", "Calibri", Helvetica,
    Arial;
  --font-code: "HackGen", "Consolas", "Lucida Console", "Courier New", monospace;
  --fontweight-head: 200;
}

* {
  font-family: var(--font-sans);
}

html,
body {
  font-size: 15px;
  color: var(--color-darkblack);
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: calc(var(--heading-margin-base-top) * 6);
  margin-bottom: calc(var(--heading-margin-base-bottom) * 6);
  font-family: var(--font-sans);
  font-weight: var(--fontweight-head);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}
h2 {
  margin-top: calc(var(--heading-margin-base-top) * 5);
  margin-bottom: calc(var(--heading-margin-base-bottom) * 5);
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  font-family: var(--font-sans);
  font-weight: var(--fontweight-head);
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px dashed;
  line-height: 1.25;
}
h3 {
  margin-top: calc(var(--heading-margin-base-top) * 4);
  margin-bottom: calc(var(--heading-margin-base-bottom) * 5);
  margin-left: calc(var(--heading-margin-base-left) * 0.5);
  font-family: var(--font-sans);
  font-weight: var(--fontweight-head);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.2rem 0 0.2rem 0.5rem;
  border-left: solid 5px;
  line-height: 1.25;
}
h4 {
  margin-top: calc(var(--heading-margin-base-top) * 3);
  margin-left: calc(var(--heading-margin-base-left) * 1);
  margin-bottom: calc(var(--heading-margin-base-bottom) * 5);
  font-family: var(--font-sans);
  font-weight: var(--fontweight-head);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.25;
}
h5 {
  margin-top: calc(var(--heading-margin-base-top) * 2);
  margin-left: calc(var(--heading-margin-base-left) * 2);
  margin-right: calc(var(--heading-margin-base-right) * 2);
  margin-bottom: calc(var(--heading-margin-base-bottom) * 5);
  font-family: var(--font-sans);
  font-weight: var(--fontweight-head);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.25;
}
h6 {
  margin-top: calc(var(--heading-margin-base-top) * 1);
  margin-left: calc(var(--heading-margin-base-left) * 3);
  margin-bottom: calc(var(--heading-margin-base-bottom) * 1);
  font-family: var(--font-sans);
  font-weight: var(--fontweight-head);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.25;
}

p,
section {
  margin: 0 1.5rem;
  font-size: 1rem;
  line-height: calc(var(--min-lineheight) * 1);
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  margin: 5px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.table-box {
  overflow-x: auto;
  margin: 1.25rem auto;
  width: fit-content;
  max-width: 95%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset,
    rgba(255, 255, 255, 1) -2px 2px 0;
}

.table-wrapper {
  margin: 7px;
  width: fit-content;
  border-radius: 10px;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.05) 1px 0px 0px, rgba(0, 0, 0, 0.05) -1px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(255, 255, 255, 1) -2px 2px 0px inset;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-indent: initial;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

table thead {
  max-width: 85%;
}

th,
td {
  max-width: 20rem;
  padding: 1rem 1rem;
  display: table-cell;
  vertical-align: middle;
}

td {
  font-size: 1rem;
  background-color: var(--color-white);
  overflow-wrap: break-word;
}

td:last-child {
  box-shadow: rgba(255, 255, 255, 0.5) -2px 0px 0px inset,
    rgba(255, 255, 255, 0.1) -3px 3px 0px inset;
}

tr:nth-child(even) td {
  background-color: var(--color-lightgray);
}

th {
  font-family: var(--font-tegaki-semibold);
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px, rgba(0, 0, 0, 1) 0px 1px 0px inset,
    rgba(255, 255, 255, 0.15) 0px 3px 0px inset;
}

th:first-child {
  border-radius: 10px 0 0 0;
}

th:last-child {
  border-radius: 0 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px, rgba(0, 0, 0, 1) 0px 1px 0px inset,
    rgba(255, 255, 255, 0.15) -4px 3px 0px inset;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

ul,
ol {
  margin: 0.8em 0;
  padding-left: 3rem;
}

li {
  list-style-type: disc;
  line-height: 1.4rem;
}

li::marker {
  margin: 0;
}

ul {
  ul {
    margin: 0;
    padding-left: 1.6rem;

    li {
      list-style-type: circle;
    }

    ul {
      li {
        list-style-type: square;
      }
    }
  }
}

a {
  color: var(--color-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  width: 100%;
  height: 100%;
  background-image: url("/ukagaka/bg.png"),
    linear-gradient(to left, var(--color-lightgray), var(--color-lightgray));
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-black);
  background-image: url("/ukagaka/fog.jpg");
  background-size: cover;
  color: var(--color-white);
}

#header::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #ffffff00, var(--color-black)),
    linear-gradient(to left, #ffffff00, var(--color-black)),
    url("/ukagaka/rain.gif");
  background-repeat: cover;
}

#header * {
  z-index: 2;
}

#footer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  min-height: var(--footer-height);
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px,
    rgba(255, 255, 255, 0.1) -2px 2px 0px inset;
}

#container h1:first-child {
  margin-top: 0;
}

.content {
  margin: 2.5rem;
  padding: 2.5rem;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 0px, rgba(0, 0, 0, 0.05) -1px 0px 0px,
    rgba(255, 255, 255, 1) -2px 2px 0px inset;
}

.main-container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 50rem;
  max-width: 60%;
  margin-right: 1rem;
}

.toc-content {
  width: 18%;
  position: sticky;
  top: 2.5rem;
  margin-left: 0;
  padding: 1.5rem;
  height: 100%;
}

.toc-content h2 {
  margin-top: 0;
}

.center {
  margin: 0 auto;
  padding: 20px 40px;
  width: 50%;
}

.blog-title {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  h1,
  p,
  section {
    text-align: left;
    padding: 0;
    margin: 0;
    border: none;
  }
  h1 {
    font-family: var(--font-tegaki);
    font-size: 2.7rem;
    background-color: #ffffff00;
  }
  p,
  section {
    margin-top: 15px;
  }
}

nav.toc {
  ul {
    padding-left: 1.4rem;
    margin: 0;
  }
  li {
    font-size: 0.8rem;
  }
}

pre {
  background-color: var(--color-white) !important;
  padding: 1rem !important;
  border-radius: 10px;
  margin: 1rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 2px inset,
    rgba(255, 255, 255, 1) -2px 2px 0;

  * {
    font-family: var(--font-code);
    font-size: 0.95rem;
    line-height: calc(1rem + 4px);
  }
}

span.comment.linenumber.react-syntax-highlighter-line-number {
  min-width: 1.5em !important;
  padding-right: 0.5rem !important;
  margin-right: 0.5rem !important;
  border-right: solid 1px;
}

span.comment.linenumber.react-syntax-highlighter-line-number:last-child {
  display: none !important;
}

#menu {
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px,
    rgba(255, 255, 255, 0.1) -2px 2px 0px inset;

  p,
  section {
    margin: 10px 0px;
    padding: 0 20px;
    font-size: 1.1rem;
    line-height: calc(var(--min-lineheight) * 1.1);
    border-left: 1px solid #000;
    box-shadow: var(--color-darkgray) -1px 0px 0px;
  }

  p:first-child,
  section:first-child {
    border-left: none;
    box-shadow: none;
  }

  a {
    color: var(--color-white);
  }

  a.menuitem-active {
    color: var(--color-gray);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column > div {
  margin-top: 0;
}

.flex-column > div:first-child {
  margin-top: 2.5rem;
}

.flex-column-center {
  display: flex;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.blog-tag {
  font-size: 1rem;
}

.article-tag {
  font-size: 1.2rem;
  cursor: pointer;
}

.flex-compontent {
  margin: 0;
}

p.flex-compontent {
  margin-right: 0.5rem;
}

.flex-leftchild {
  margin-right: auto;
}

.blogpost-title {
  cursor: pointer;
  border-bottom: 1px solid;

  h2 {
    border-bottom: none;
  }
}

.bloglist-compontent {
  margin: 0.5rem 0;
}

.bloglist-summery {
  color: var(--color-gray);
}

.list-article {
  border-radius: 0.5rem;
  padding: 1.8rem 1.5rem;
  margin: 0.75rem 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 2px inset,
    rgba(255, 255, 255, 1) -2px 2px 0;
}

figure.shadow-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0;
  width: fit-content;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(255, 255, 255, 1) -2px 2px 0;
}

figure.shadow-figure::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px inset;
}

figure.image-center {
  margin: 2rem auto 0;
}

figcaption.caption-center {
  margin-top: 0.2rem;
  text-align: center;
}

img {
  width: 100%;
}

.piece-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem auto;

  padding: 1rem 1.5rem;
  border: solid 1px var(--color-lightdarkgray);
  border-radius: 10px;
}

.piece-box {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  h4 {
    margin: 0;
  }
  ul {
    margin: 0.2rem 0;
    padding-left: 1.5rem;
  }
  a {
    color: var(--color-black);
  }
}

.piece-box:first-child {
  margin-left: 0;
}

.piece-title {
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: dashed 1px var(--color-gray);
  h4 {
    margin-right: 0.5rem;
  }
}

.piece-description {
  border-radius: 10px;

  margin: 0.7rem 0;
  p {
    margin: 0;
  }
  a {
    color: var(--color-blue);
  }
}

div.piece-download-button {
  margin-top: 0.2rem;
  color: var(--color-gray);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  *:nth-child(2) {
    margin-left: 0.5rem;
  }
}

@media (orientation: portrait) {
  html,
  body {
    font-size: 14px;
  }
  table {
    overflow-x: scroll;
    white-space: nowrap;
  }
  a {
    text-decoration: underline;
  }
  #container {
    flex-direction: column;
    align-items: center;
  }
  .content {
    padding: 20px;
    width: 90%;
    max-width: 90%;
    margin: 2.5rem 0;
    padding: 2.5rem;
  }
  .toc-content {
    position: static;
    order: 1;
    margin-bottom: 0;
    padding: 1.5rem;
    height: 100%;
  }
  .content.main-container {
    order: 2;
  }
  .piece-wrapper {
    flex-direction: column;
  }
  .piece-box {
    margin-left: 0;
    margin-top: 0.5rem;
    align-items: center;
  }
  .piece-box:first-child {
    margin-top: 0;
  }
}

.rounded5 {
  border-radius: 5px;
}

div.webclap-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  a {
    font-family: var(--font-code);
    font-size: 0.9rem;
    padding: 6px 8px;
    color: black;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px,
      rgba(0, 0, 0, 0.25) -1px 0px 1px,
      rgba(255, 255, 255, 1) -2px 2px 0px inset;
  }
  a:hover {
    text-decoration: none;
  }
}
